<style>
    #header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 64px;
        line-height: 64px;
        padding: .30rem .20rem 0 .18rem;
        text-align: center;
        z-index: 99999;
        border-bottom: 1px solid #B6B6B6;
        background-color: #fff;
    }
    #header img{
        width: .14rem;
        height: .15rem;
        position: absolute;
        top: .08rem;
        left: .16rem;
        z-index: 99;
    }
    #header input{
        font-size: 15px;
        color: #979797;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding-left: .36rem;
        border-color: #fff;
        border-radius: .15rem;
        height: .28rem;
        line-height: .28rem;
        background-color: transparent;
    }
    #header #rightText{
        position: absolute;
        right: 16px;
        top: .06rem;
        color: #333;
        font-size: 15px;
    }
    #header .searchH{
        width: 80%;
        height: .28rem;
        line-height: .28rem;
        background-color: #EAEAEA;
        position: absolute;
        top: .25rem;
        border-radius: .15rem;
    }
</style>
<div id="header">
    <div class="searchH">
        <img src="template/wap/static/vsc/img/fangdajing.png" alt="" onclick="window.history.back(-1);">
        <input type="text" placeholder="请输入要搜索的游戏名称">
    </div>
    <a href="index.php?m=Test&c=Index&a=searchKefu" id="rightText">搜索</a>
</div>

<script>
    $(function () {
        $('#head-title').text(document.title)
        $('.mobile-content').addClass('has-head')
    })
</script>
