{extend name="admin@public/base" /}
{block name="style"}
body.navbar-fixed{padding-top:0;overflow:hidden;}
col-sm-10{width:100%;}
textarea{width:100%!important;}
{/block}
{block name="script"}
<script>
$(function(){

	$('#breadcrumbs').parent().remove();
	/*
	var index = parent.layer.getFrameIndex(window.name);
	parent.layer.iframeAuto(index);
	$(window.parent.document.body).find('.layui-layer-iframe').css({'top':'300px'});
	*/
	
	
})
</script>
{/block}
{block name="main-content"}
<div class="main-content">

    <div class="main-content-inner">

        <div class="page-content">

            <div class="row">
                <div class="tabbable">
  
                    <form class="form-horizontal" action="{:url('finish')}"  role="form" method="post">
                        <input type="hidden" name="sn" value="<?php echo input('sn'); ?>"/>
                        <div class="tab-content" style="border:0;">

                            <div id="tag1" class="tab-pane active">
        <?php
         echo  \form\Form::input('textarea','msg','','确认订单完成备注','',['placeholder' => '请填写订单操作日志（选填）']);
  
        ?>


                            </div>

                        </div>
                    </form>
                </div>

            </div>

        </div>


    </div>

</div>


{/block}
