{extend name="public:base" /}
{block name="body"}
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
  			<h2>热度代表性前十景区</h2>
		</div>
		

{volist name="hot" id="art" empty="$empty"}
	<div>
		<p style="font-size:25px;font-family:微软雅黑;color:red;" align="center">{$art.grade}</p>
		
	<div style="margin: 35px auto;padding:30px;box-shadow: 1px 1px 2px 1px #aaaaaa;border-radius: 3px;height:450px;width:1100px;">
		<div>			
            <a id="btn" href="{$art.url}"><img  class="img-rounded"   src="/uploads/{$art.zh_img}"
            style="margin-right: 60px;float: left;width: 600px;height: 400px"/></a>     
   		</div>
   		<div>		
   		<div style="font-size:25px;font-family:微软雅黑;color:rgb(98,94,91);" align="left">
			
			<p>月销量:{$art.number}</p>
			<br>
			<p>热度:{$art.hot}</p>
			<br>
			<p>代表性:{$art.zh_max}</p>	
		</div>

   		</div>  
	
</div>
</div>
{/volist}
</div>
</div>
       
		


{/block}