{extend name="public:base" /}
{block name="body"}
    <div class="row">
        <div class="col-md-8">
        <div class="page-header">
            <h2>数据展示区</h2>
        </div>
 <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="height:400px"></div>
    <!-- ECharts单文件引入 -->
    <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
    <script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
        
        // 使用
        require(
            [
                'echarts',
                'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('main')); 
                
              var option = {
                
            title: {
                left: 'center',
                text: '海南·三亚市热度最高景点'
            },
            tooltip: {},
            legend: {
                data:['热度']
            },
            xAxis: {
                data: ["亚龙湾","大东海","三亚湾","蜈支洲岛","亚龙湾热带天堂森林公园"]
            },
            yAxis: {},
            series: [{
                name: '热度',
                type: 'bar',
                data: [10, 9, 8.6, 8.6, 8]
            }]
        };




                // 为echarts对象加载数据 
                myChart.setOption(option); 
            }
        );
    </script>
{/block}
