.layui-layer-btn {
  display: flex !important;
  text-align: right;
  padding: 0!important;
  pointer-events: auto;
  user-select: none;
  -webkit-user-select: none;
}

.layui-layer-btn a {
  flex: 1 !important;
  height: 28px;
  line-height: 28px;
  margin: 0  !important;
  padding: 0 15px;
  border: 1px solid #dedede;
  background-color: #f1f1f1;
  color: #333;
  border-radius: 4px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
}