<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>象链</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="__TMPL__/css/style.css">
    <link rel="stylesheet" type="text/css" href="__TMPL__/css/foot.css">
    <link rel="stylesheet" href="__TMPL__/css/head.css">
    <link rel="stylesheet" href="__TMPL__/iconfont/iconfont.css">
    <script type="text/javascript" src="__TMPL__/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="__TMPL__/js/jquery.touchSlider.js"></script>    
    <!-- Demo styles -->
<script type="text/javascript">
$(document).ready(function(){

    $(".main_visual").hover(function(){
        $("#btn_prev,#btn_next").fadeIn()
    },function(){
        $("#btn_prev,#btn_next").fadeOut()
    });
    
    $dragBln = false;
    
    $(".main_image").touchSlider({
        flexible : true,
        speed : 200,
        btn_prev : $("#btn_prev"),
        btn_next : $("#btn_next"),
        paging : $(".flicking_con a"),
        counter : function (e){
            $(".flicking_con a").removeClass("on").eq(e.current-1).addClass("on");
        }
    });
    
    $(".main_image").bind("mousedown", function() {
        $dragBln = false;
    });
    
    $(".main_image").bind("dragstart", function() {
        $dragBln = true;
    });
    
    $(".main_image a").click(function(){
        if($dragBln) {
            return false;
        }
    });
    
    timer = setInterval(function(){
        $("#btn_next").click();
    }, 5000);
    
    $(".main_visual").hover(function(){
        clearInterval(timer);
    },function(){
        timer = setInterval(function(){
            $("#btn_next").click();
        },5000);
    });
    
    $(".main_image").bind("touchstart",function(){
        clearInterval(timer);
    }).bind("touchend", function(){
        timer = setInterval(function(){
            $("#btn_next").click();
        }, 5000);
    });
    
});
</script>
</head>
<body>
<div class="header">
    <div class="header_l">
      <a href="javascript:history.back();"><img src="__TMPL__/images/lpg.png"></a>
    </div>
    <div class="header_c"> <h1>跨境商城</h1></div>
    <div class="header_r"></div>
</div>

<!-- banner  s-->
<div class="main_visual">
    <div class="flicking_con">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
    </div>
    <div class="main_image">
        <ul>
            <li><span class="img_3"><img src="__TMPL__/images/banner.jpg" alt=""></span></li>
            <li><span class="img_4"><img src="__TMPL__/images/banner.jpg" alt=""></span></li>
            <li><span class="img_1"><img src="__TMPL__/images/banner.jpg" alt=""></span></li>
        </ul>
    </div>
</div>
<!-- banner  e-->

<!--
<div class="zxtz">
    <div class="zxtzcc">
        <p style="float:left;"><span>马来西亚游名单：</span></p>
        <marquee class="marq"><a href="">小雪  、 大雪  、中雪  、小雪  、中雪 、小雪  、 大雪  、中雪  、小雪  、中雪</a></marquee>
    </div>
</div>
-->

<div class="mall-row ui-sortable-handle" style="padding: 0px; position: relative; top: 0px; left: 0px;">
    <div class="mall-formsearch" data-role="search">
        <div class="mall-search">
            <div class="search-main">
                <div><input type="search" class="inputsearch" placeholder="搜索宝贝"></div>
                <div><a class="search-btn" href="javascript:;"><i class="iconfont ic-search">&#xe601</i></a></div>
            </div>
        </div>
    </div>
</div>

<div class="tryout_nr">
    <ul>
		<volist name="lists" id="foo">

        <li>
            <a href="<{:U('goods/index/detail',array('sku_id'=>$foo['sku_id']))}>">
                <div class="tryoutimg"><img src="<{$foo['thumb']}>" alt=""></div>
                <p><{$foo['sku_name']}></p>
                <div class="exchdiv"><em>￥<{$foo['shop_price']}></em> <span><a href="javascript:;"  data-event="buy_now" data-skuids="<{$foo['sku_id']}>" class="ljgm">立即购买</a></span></div>
            </a>
        </li>
		</volist>
		
        
    </ul>
</div>


<div style="height: 20vmin;clear: both;"></div>

<include file="template/wap/Public/footer.html" />

</body>
</html>