<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>发现-商学院</title>
    <link rel="stylesheet" href="__TMPL__/hb/public/mui/css/mui.min.css">
    <link rel="stylesheet" href="__TMPL__/hb/public/swiper/css/swiper.min.css">
    <include file="template/wap/Public/base.html" />
    <!-- 引入头部 -->
    <include file="template/wap/Public/header.html" />
    

    <style>
        html , body{
            background-color: #fff;
       }
        #searchActive{
            background-color: #fff;
            height: 100%;
            padding: 0.81rem 0.23rem;
       }
        #searchActive .activeItem img{
            width: 3.29rem;
       }
        #searchActive .activeItem span{
            font-size: 0.15rem;
            color: #333;
       }
        #searchActive .activeItem{
            margin-bottom: 0.14rem;
       }
        </style>
</head>

<body>
    <div id="searchActive">
        <div class="activeItem">
            <img src="template/wap/static/vsc/img/banner.png" alt="">
            <span>今日全民集团马拉松有奖竞赛在马尔代夫举行</span>
        </div>
        <div class="activeItem">
            <img src="template/wap/static/vsc/img/banner.png" alt="">
            <span>今日全民集团马拉松有奖竞赛在马尔代夫举行</span>
        </div>
    </div>

    <script type="text/javascript" src="__ROOT__/statics/js/jquery-1.7.2.min.js"></script>
    <script src="__TMPL__/hb/public/mui/js/mui.min.js"></script>
    <script src="__TMPL__/hb/public/swiper/js/swiper.min.js"></script>
    <script src="__TMPL__/hb/public/zepto/zepto.min.js"></script>
</body>

</html>
<script>
    $('#head-title').text('活动');

</script>