<script type="text/javascript" src="__TMPL__/js/jquery-1.7.1.min.js"></script>
<script src="__TMPL__/peer/js/mui.min.js"></script>
<link href="__TMPL__/peer/css/mui.min.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="__TMPL__/peer/css/iconfont.css"/>
<link rel="stylesheet" type="text/css" href="__TMPL__/peer/css/style.css"/>
<link rel="stylesheet" type="text/css" href="__TMPL__/peer/css/comment.css"/>
<link rel="stylesheet" type="text/css" href="__TMPL__/peer/css/icons-extra.css"/>
<link type="text/css" rel="stylesheet" href="__TMPL__/css/gboy.css" />
<script type="text/javascript" src="__ROOT__/statics/js/layer/layer.min.js"></script>
<script type="text/javascript" src="__TMPL__/js/gboy.js"></script>
<script type="text/javascript" src="__TMPL__/peer/js/clipboard.min.js"></script>
