<include file="Admin@Public/header" />

		<div class="fixed-nav layout">
			<ul>
				<li class="first">团队等级<a id="addHome" title="添加到首页快捷菜单">[+]</a></li>
				<li class="spacer-gray"></li>
			</ul>
			<div class="hr-gray"></div>
		</div>
		<div class="content padding-big have-fixed-nav">
			<!--<div class="tips margin-tb">-->
				<!--<div class="tips-info border">-->
					<!--<h6>温馨提示</h6>-->
					<!--<a id="show-tip" data-open="true" href="javascript:;">关闭操作提示</a>-->
				<!--</div>-->
				<!--<div class="tips-txt padding-small-top layout">-->
					<!--<p>- 通过会员等级管理，可以制定不同的经验值达到不同的会员等级，并且享受不同的折扣价格</p>-->
				<!--</div>-->
			<!--</div>-->
			<div class="table-work border margin-tb">
				<div class="border border-white tw-wrap">
					<a href="<?php echo U('add') ?>"><i class="ico_add"></i>添加</a>
					<div class="spacer-gray"></div>
					<a data-message="是否确定删除所选？" href="<?php echo U('del')?>" data-ajax='id'><i class="ico_delete"></i>删除</a>
					<div class="spacer-gray"></div>
				</div>
			</div>
			<div class="table-wrap member-info-table">
				<div class="table resize-table check-table paging-table border">
					<div class="tr">
						<span class="th check-option" data-resize="false">
							<span><input id="check-all" type="checkbox" /></span>
						</span>
						<span class="th" data-width="20">
							<span class="td-con">等级名称</span>
						</span>
						<span class="th" data-width="15">
							<span class="td-con">小区业绩要求</span>
						</span>
						<span class="th" data-width="15">
							<span class="td-con">boss团队分红收益比率</span>
						</span>
						<span class="th" data-width="15">
							<span class="td-con">boss全网分红收益比率</span>
						</span>

						<span class="th" data-width="20">
							<span class="td-con">操作</span>
						</span>
					</div>
					<?php foreach ($list AS $group): ?>
					<div class="tr">
						<span class="td check-option"><input type="checkbox" name="id" value="<?php echo $group['id'] ?>" /></span>
						<div class="td"><?php echo $group['dj_name'] ?></div>
						<div class="td"><?php echo $group['one_buy'] ?></div>
						<div class="td"><?php echo $group['ratio'] ?></div>
						<div class="td"><?php echo $group['people'] ?></div>
						<div class="td"><?php echo $group['sj_tj'] ?></div>
						<div class="td">
							<a href="<?php echo U('edit', array("id" => $group['id'])) ?>">编辑</a>&nbsp;&nbsp;&nbsp;

						</div>
					</div>
					<?php endforeach ?>

				</div>
			</div>

		</div>
		<script>
			$(".table").resizableColumns();
			$(".paging-table").fixedPaging();
		</script>
	</body>
</html>
