<include file="Admin@Public/header" />	
<style>
.high-table .tr .td{line-height:50px;min-height:auto;}
.member-list-search .form-group .box {
    width: 140px;
}
.member-list-search .form-box {
    width: 200px;
}
</style>
<div class="fixed-nav layout">
    <ul>
        <li class="first">返卡记录<a id="addHome" title="添加到首页快捷菜单">[+]</a></li>
        <li class="spacer-gray"></li>
    </ul>
    <div class="hr-gray"></div>
</div>

<div class="content padding-big have-fixed-nav">
    <div class="tips margin-tb">
      
       
    </div>


    <div class="member-list-search clearfix">
        <form action="" method="get">
            <input type="hidden" name="m" value="<{:MODULE_NAME}>">
            <input type="hidden" name="c" value="<{:CONTROLLER_NAME}>">
            <input type="hidden" name="a" value="<{:ACTION_NAME}>">
            <div class="form-box form-layout-rank clearfix border-bottom-none">

                <?php echo  \Org\Util\Form::input('text', 'keyword', $_GET['keyword'], '搜索', '', array('placeholder' => '输入获得会员名搜索'));?>
            </div>
            <input class="button bg-sub fl" type="submit" value="查询">
        </form>
    </div>

    <div class="table-wrap member-info-table">
        <div class="table resize-table paging-table check-table high-table border clearfix">
            <div class="tr">
                <span class="th check-option" data-resize="false"><span><input id="check-all" type="checkbox" /></span></span>
				<span class="th" data-width="10"><span class="td-con">冻结链关联ID</span></span>
                <span class="th" data-width="25"><span class="td-con">获得者</span></span>
                <span class="th" data-width="25"><span class="td-con">提供者</span></span>
                <span class="th" data-width="20"><span class="td-con">释放链数量</span></span>
                <span class="th" data-width="20"><span class="td-con">释放链时间</span></span>
            </div>
            <?php foreach ($list AS $member): ?>
            <div class="tr">
                <span class="td check-option"><input type="checkbox" name="ids" value="<?php echo $member['member_sortid'] ?>" /></span>
                <span class="td"><?php echo $member['related_id'] ?></span>
                <span class="td">
                    <?php $name=M('member')->where(array('id'=>$member['member_getid']))->getField('username'); echo $name;?>&nbsp;(<?php $realname=M('member')->where(array('id'=>$member['member_getid']))->getField('realname'); echo $realname;?>)
                </span>
				<span class="td">
                    <?php $name1=M('member')->where(array('id'=>$member['member_giveid']))->getField('username'); echo $name1;?>&nbsp;(<?php $realname1=M('member')->where(array('id'=>$member['member_giveid']))->getField('realname'); echo $realname1;?>)
                </span>
                <span class="td"><?php echo $member['money_nums'] ?></span>
                <span class="td">
                    <span class="td-con"><{$member['money_produtime']|date="Y-m-d H:i:s",###}></span>
                </span>
            </div>
            <?php endforeach ?>
            <div class="paging padding-tb body-bg clearfix">
                <?php echo $pages;?>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(window).load(function () {
        $(".table").resizableColumns();
        $(".paging-table").fixedPaging();
        $(".member-info-tip").hover(function () {
            $(this).children("span").show();
        }, function () {
            $(this).children("span").hide();
        });
        $(".member-list-search .form-group").each(function (i) {
            $(this).addClass("form-group-id" + (i + 1));
        });
        $("a.member_update").click(function () {
            top.dialog({
                url: $(this).attr("data-url"),
                title: '修改会员信息',
                width: 460,
                onclose: function () {
                    if (this.returnValue) {
                        window.location.href = this.returnValue.referer;
                    }
                }
            })
                    .showModal();
        });
        return false;
    })
    $(function () {
        var $val = $("input[type=text]").eq(1).val();
        $("input[type=text]").eq(1).focus().val($val);
    })
</script>
</body>
</html>