<include file="Admin@Public/header" />		

		<div class="fixed-nav layout">
			<ul>
				<li class="first">提现设置</li>
			</ul>
			<div class="hr-gray"></div>
		</div>
		<form action="<{:U('save')}>" method="POST" enctype="multipart/form-data">
		<div class="content padding-big have-fixed-nav">
		 <div class="content-tabs ">
			<div class="hidden">
			
				<input type="hidden" name="id" value="1">
			</div>
	
			<div class="form-box clearfix">
				<?php echo \Org\Util\Form::input('text', 'gong', $info['gong'] ? $info['gong'] : '', '一天内提现成功单数：', '一天内提现成功单数'); ?>
			</div>								
			<div class="form-box clearfix">
				<?php echo \Org\Util\Form::input('text', 'money', $info['money'] ? $info['money'] : '', '提现倍数：', '提现倍数'); ?>
			</div>			
			<div class="form-box clearfix">
				<?php echo \Org\Util\Form::input('text', 'low_money', $info['low_money'] ? $info['low_money'] : '', '提现最低限额：', '提现最低限额'); ?>
			</div>	
	
			<div class="form-box clearfix">
				<?php echo \Org\Util\Form::input('text', 'poundage', $info['poundage'] ? $info['poundage'] : '', '提现手续费：', '提现手续费'); ?>
			</div>

		</div>
	

 	
			<div class="padding">
				<input type="submit" class="button bg-main" value="确认" name="dosubmit" />
				<input type="button" class="button margin-left bg-gray" value="返回" />
			</div>
			
			
		</div>
		
		</form>
		<script>
		
			var editor = UE.getEditor('content');		
			
			$("input[name=parent]").attr("readonly","readonly");
			$("input[name=parent]").live('click',function(){
			
				var data = $(this).attr('data-ids');
				top.dialog({
					url: '<{:U('category_choose',array('type'=>'category'))}>&formhash='+formhash,
					title: '加载中...',
					width: 930,
					data:data,
					onclose: function () {
						if(this.returnValue){
							$("input[name=parent]").attr('data-ids',this.returnValue.split("category_ids=")[1].split(',').reverse());
							$("#choosecat").val(html_encode(this.returnValue,0));
							$("input[name=parent_id]").val(html_encode(this.returnValue,1));
						}
					}
				})
				.showModal();
			})
			//选择分类操作
			function html_encode(str,i){ 
			    str = str.split("category_ids=")[i];
				if(i == 1){
					var id = "<?php echo $_GET['id']?>";
					var arr_str = str.split(",");
					if(arr_str[arr_str.length-1] == id){
						return;
					}
					return arr_str[arr_str.length-1];
				}
				str = str.replace(/&gt;/g, ">"); 
				str = str.replace(/&lt;/g, "<");   
				str = str.replace(/&gt;/g, ">");   
				str = str.replace(/&nbsp;/g, " ");   
				str = str.replace(/&#39;/g, "\'");   
				str = str.replace(/&quot;/g, "\""); 
				return str;
			}
			
			function select_tpl(modelid,id){
				$.post('<{:U('select_tpl')}>','modelid='+modelid+'&id='+id+'&formhash='+formhash,function(data){
					
					$('input[name="category_template"]').val(data['category_tpl']);
					$('input[name="list_template"]').val(data['list_tpl']);
					$('input[name="show_template"]').val(data['show_tpl']);
				},'json');
			}
			$(function(){
				//模板选择
				$('.listbox-items').click(function(){
					var modelid=$('input[name="modelid"]').val();
					select_tpl(modelid,'');
				});
				
				//加载模板
				<if condition="ACTION_NAME eq 'add'">
				select_tpl(<{$info['modelid']|default='1'}>,<{$_GET['parent_id']}>);
				
				<else/>
				select_tpl(<{$info['modelid']|default='1'}>,<{$info['id']}>);
				
				</if>
			})
		</script>
	</body>
</html>