<script type="text/javascript" src="__TMPL__/js/jquery-3.1.1.min.js"></script>
<script src="__TMPL__/js/mui.min.js"></script>
<link href="__TMPL__/css/mui.min.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="__TMPL__/css/iconfont.css"/>
<link rel="stylesheet" type="text/css" href="__TMPL__/css/style.css"/>
<link rel="stylesheet" type="text/css" href="__TMPL__/peer/css/comment.css"/>
<link rel="stylesheet" type="text/css" href="__TMPL__/peer/css/icons-extra.css"/>
<link type="text/css" rel="stylesheet" href="__TMPL__/peer/css/gboy.css" />
<script type="text/javascript" src="__ROOT__/static/js/layer/layer.js"></script>
<script type="text/javascript" src="__TMPL__/js1/gboy.js"></script>
<script type="text/javascript" src="__TMPL__/peer/js/clipboard.min.js"></script>
