<!DOCTYPE html>
<html>
<head>
    <title>{block name="title"}{/block}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script data-main="__JS__/main" src="https://cdn.bootcss.com/layer/3.1.0/layer.js"></script>
	<script type="text/javascript" src="https://cdn.bootcss.com/require.js/2.3.5/require.min.js"></script>
	<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.12.0/jquery.js"></script>
	<script type="text/javascript" src="__JS__/layer/layer.js"></script>
    <link rel="stylesheet" href="__CDN__/bootstrap/3.3.7/css/bootstrap.min.css">
 
	{block name="css"}{/block}
	{block name="script"}{/block}

</head>
<body>

{block name="content"}{/block}
</body>
</html>
