<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>修改密码</title>
		<include file="template/wap/Public/title.html" />
		<link rel="stylesheet" type="text/css" href="__TMPL__/vsc/css/rechargeonline.css"/>

	</head>
	<body>
		<!--头部-->
		<header class="prow15 pt15 pb16 bgcolortheme01 flex">
			<div class="header-left percent20">
				<span class="iconfont icon-fanhui1 c-fff left-back fs20"></span>
			</div>
			<div class="header-middle percent60 tac c-fff fs16 fw-b">
				修改密码
			</div>
		</header>
		<!--头部----end-->
		<div class="prow15 pt20 pb30 bgcolortheme01">
			<div class="input-group mb20">
				<input type="password" class="widthp100 inputbg inputbg01  bgcolorrgba03" name="realname" type="password" id="password" placeholder="原始密码">
			</div>
			<div class="input-group mb20">
				<input type="password" class="widthp100 inputbg inputbg01  bgcolorrgba03" name="usercard" id="new_password" value="" placeholder="新的密码">
			</div>
			<div class="input-group mb20">
				<input type="password" class="widthp100 inputbg inputbg01  bgcolorrgba03" name="" id="again_password" value="" placeholder="确认密码">
			</div>
		</div>
		<div class="prow15 mt50">
			<button class="btn-gradual-bg widthp100 height40 radius-6" id="submit">确认修改</button>
		</div>
	</body>

</html>
<script type="text/javascript">
    $('#submit').click(function(){
        var password=$('#password').val();//获取旧密码
        var new_password=$('#new_password').val();//新密码
        var again_password=$('#again_password').val();//重复新密码
        var mm=/^[\w\W]{6,}$/;
        if(password==''){
            alert('请输入原始密码');
            return false;
        }
        if(new_password==''){
            alert('请输入新的密码');
            return false;
        }
        if(new_password!=again_password){
            alert('新密码两次输入不一致');
            return false;
        }
        if(new_password != "" &&!mm.test(new_password)){
            alert('新密码至少为6位字符');
            return false;
        }
        $.post('<{:U("Member/Account/Modpassword")}>','password='+password+'&new_password='+new_password,function(data){

            if(data.status=='0'){
                alert(data.message);
            }else{
                alert('修改成功');
                location.href= data.referer;
            }

        },'json')
        return false;
    })
</script>