<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>推广二维码</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <include file="template/wap/Public/title.html" />

    <style>
        .prover-img{background:url(__TMPL__/vsc/img/weixin.jpg) no-repeat;background-size:100% 100%}
        .code-img{width:36%;max-width:150px;margin-bottom:60px}


    </style>

</head>
<body>
<header class="widthp100 prow15 pt15 pb16 flex posi-abso top0 left0 z99999">
    <div class="header-left percent20">
        <span class="iconfont icon-fanhui1 c-fff left-back fs20"></span>
    </div>
    <div class="header-middle percent60 tac c-fff fs16 fw-b">

    </div>
</header>
<div class="index-bg prover prover-img flex-center02">
    <div class="flex-center code-img">
        <div class="body-img">
            <img src="<{$img_url}>" alt="" style="width:100%;">
        </div>
    </div>

</div>





</body>
</html>