.mcol0{margin-top:0;margin-bottom:0;}
.mcol1{margin-top:1px;margin-bottom:1px;}
.mcol2{margin-top:2px;margin-bottom:2px;}
.mcol3{margin-top:3px;margin-bottom:3px;}
.mcol4{margin-top:4px;margin-bottom:4px;}
.mcol5{margin-top:5px;margin-bottom:5px;}
.mcol6{margin-top:6px;margin-bottom:6px;}
.mcol7{margin-top:7px;margin-bottom:7px;}
.mcol8{margin-top:8px;margin-bottom:8px;}
.mcol9{margin-top:9px;margin-bottom:9px;}
.mcol10{margin-top:10px;margin-bottom:10px;}
.mcol11{margin-top:11px;margin-bottom:11px;}
.mcol12{margin-top:12px;margin-bottom:12px;}
.mcol13{margin-top:13px;margin-bottom:13px;}
.mcol14{margin-top:14px;margin-bottom:14px;}
.mcol15{margin-top:15px;margin-bottom:15px;}
.mcol16{margin-top:16px;margin-bottom:16px;}
.mcol17{margin-top:17px;margin-bottom:17px;}
.mcol18{margin-top:18px;margin-bottom:18px;}
.mcol19{margin-top:19px;margin-bottom:19px;}
.mcol20{margin-top:20px;margin-bottom:20px;}
.mcol25{margin-top:25px;margin-bottom:25px;}
.mcol30{margin-top:30px;margin-bottom:30px;}
.mcol35{margin-top:35px;margin-bottom:35px;}
.mcol40{margin-top:40px;margin-bottom:40px;}
.mcol45{margin-top:45px;margin-bottom:45px;}
.mcol50{margin-top:50px;margin-bottom:50px;}
.mcol55{margin-top:55px;margin-bottom:55px;}
.mcol60{margin-top:60px;margin-bottom:60px;}
.mcol65{margin-top:65px;margin-bottom:65px;}
.mcol70{margin-top:70px;margin-bottom:70px;}
.mcol75{margin-top:75px;margin-bottom:75px;}
.mcol80{margin-top:80px;margin-bottom:80px;}
.mcol85{margin-top:85px;margin-bottom:85px;}
.mcol90{margin-top:90px;margin-bottom:90px;}
.mcol95{margin-top:95px;margin-bottom:95px;}
.mcol100{margin-top:100px;margin-bottom:100px;}
.mcol-1{margin-top:-1px;margin-bottom:0px;}
.mcol-2{margin-top:-2px;margin-bottom:0px;}
.mcol-3{margin-top:-3px;margin-bottom:0px;}
.mcol-4{margin-top:-4px;margin-bottom:0px;}
.mcol-5{margin-top:-5px;margin-bottom:0px;}
.mcol-6{margin-top:-6px;margin-bottom:0px;}
.mcol-7{margin-top:-7px;margin-bottom:0px;}
.mcol-8{margin-top:-8px;margin-bottom:0px;}
.mcol-9{margin-top:-9px;margin-bottom:0px;}
.mcol-10{margin-top:-10px;margin-bottom:-10px;}
.mcol-11{margin-top:-11px;margin-bottom:-11px;}
.mcol-12{margin-top:-12px;margin-bottom:-12px;}
.mcol-13{margin-top:-13px;margin-bottom:-13px;}
.mcol-14{margin-top:-14px;margin-bottom:-14px;}
.mcol-15{margin-top:-15px;margin-bottom:-15px;}
.mcol-16{margin-top:-16px;margin-bottom:-16px;}
.mcol-17{margin-top:-17px;margin-bottom:-17px;}
.mcol-18{margin-top:-18px;margin-bottom:-18px;}
.mcol-19{margin-top:-19px;margin-bottom:-19px;}
.mcol-20{margin-top:-20px;margin-bottom:-20px;}
.mcol-25{margin-top:-25px;margin-bottom:-25px;}
.mcol-30{margin-top:-30px;margin-bottom:-30px;}
.mcol-35{margin-top:-35px;margin-bottom:-35px;}
.mcol-40{margin-top:-40px;margin-bottom:-40px;}
.mcol-45{margin-top:-45px;margin-bottom:-45px;}
.mcol-50{margin-top:-50px;margin-bottom:-50px;}
.mcol-55{margin-top:-55px;margin-bottom:-55px;}
.mcol-60{margin-top:-60px;margin-bottom:-60px;}
.mcol-65{margin-top:-65px;margin-bottom:-65px;}
.mcol-70{margin-top:-70px;margin-bottom:-70px;}
.mcol-75{margin-top:-75px;margin-bottom:-75px;}
.mcol-80{margin-top:-80px;margin-bottom:-80px;}
.mcol-85{margin-top:-85px;margin-bottom:-85px;}
.mcol-90{margin-top:-90px;margin-bottom:-90px;}
.mcol-95{margin-top:-95px;margin-bottom:-95px;}
.mcol-100{margin-top:-100px;margin-bottom: -100px;}